*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#counter{
    font-size: 30px;
    font-weight: bold;
}
#clear{
    padding: 10px 15px;
    font-size: 20px;
    background-color: rgb(1, 72, 1);
    color: white;
    border: none;
    border-radius: 10px;
}
#text::placeholder{
    font-size: 20px;

}